	/* 	- 	Copyright Lucas - 	*/

	*{
		margin: 0;
		padding: 0;
	}	

	body{

		background-color: #F0F8FF ;

	}

	.marcador{
		border: 2px solid red;
	}


	.img-carousel{

		width: 100%;
		height: 645px;

	}

	.div_informacao{

		width: 100%;
		height: 600px;
		float: left;
		background-color: #F8F8FF ;
		margin-top: 50px;

	}

	.informacao{
		margin-top: 20px;
		width: 100%;
		height: 300px;
	}

	.img-informacao{
		margin: auto;
		width: 100%;
		height: 250px;
	}

	.btn-custom{
		width: 155px;
		margin: auto;
	}

	.btn-dark:hover{

		-webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 0.8s;
	}

	#id_transicao{

		clear: both;	/*	- Desativando o FLOAT 	*/
		width: 100%;
		height: 400px;
	}

	/*#img_transicao{

		width: 100%;
		height: 100%;
		position: relative;

	}*/

	.background{

		background:url(../img/transicao/bricks.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;

	}

	.line{
		border: 2px solid #0d0d0d;
		height: 2px;
		width: 80%;
		margin: 0 auto;
		opacity: 0.5;
	}

	.caixa_galeria {

		float: left;
		margin-top: 50px;
		margin-bottom: 50px;
		height: 350px;

	}

	.img_galeria{
		width: 105%;
		height: 345px;
		border-radius: 10px;
		opacity: 0.9;
		transition: 1.0s;
	}

	.img_galeria:hover{
		/*width: 110%;*/
		transform: scale(1.1);
		opacity: 1.0;
		transition: 1.2s;
	}

	.rodape{
		clear: both;
		width: 100%;
		height: 200px;
		background-color: #000000;

	}

	.conteudo_rodape{
		width: 180px;
		margin: auto;

	}


	.img_redes_sociais{
		opacity: 0.8;
		margin-left: 1px;
		margin-top: 50px;
	}


	#conteudo_transicao{
		margin-top: 130px;
		width: 100%;
		height: 150px;
		background-color: gray;
		position: absolute;
		opacity: 0.5;
		transition: 2s;
	}

	#conteudo_transicao:hover{
		opacity: 0.8;
		transition: 1s;
	}

	#espaco_carousel{
		width: 100%;
		height: 100%;
	}

	#espaco_barra{
		width: 100%;
		height: 30px;
			}








	/*	TIPOGRAFIA	*/

	h5{
		color: #B0C4DE;
		opacity: 0.8;
		text-align: center;
	}

	h4{
		text-align: center;
		font-family: 'Arial';
		opacity: 0.9;
	}

	.tip_informacao{

		text-align: center;
		font-family: 'Arial';
		font-size: 15px;
		letter-spacing: 1px;
		margin-top: 30px;
	}

	.btn-custom a{
		font-size: 13px;
		text-transform: uppercase;
	}

	#titulo_transicao{
		text-align: center;
		font-family: 'Helvetica';
		font-size: 20px;
		color: #1a1a1a;
		text-transform: uppercase; 
		margin-top: 10px;
		transition: 2s;
	}

	#texto_transicao{
		text-align: center;
		font-size: 18px;
		color: #1a1a1a;
		margin-top: 15px;
		margin-left: 40px;
		margin-right: 40px;

	}

	#titulo_transicao:hover{
		color:#0d0d0d;
		font-size: 22px;
		transition: 1s;

	}

	#direitos{
		margin-top: 10px;
		text-align: center;
		color: #f2f2f2;
	}
